In [1]:
import pandas as pd
from itertools import cycle

In [2]:
import os
import os.path

In [3]:
print(os.getcwd())

C:\Users\User\Documents\assignments\tableau-challenge-master\code files

In [4]:
os.chdir("..")
print(os.getcwd())

C:\Users\User\Documents\assignments\tableau-challenge-master

### July 2021

In [262]:
jul_21 = pd.read_csv('data/2021/JC-202107-citibike-tripdata.csv')
month = cycle(['July 2021'])
jul_21['Month'] = [next(month) for m in range(len(jul_21))]

jul_21['started_at'] = jul_21['started_at'].apply(pd.to_datetime)
jul_21['ended_at'] = jul_21['ended_at'].apply(pd.to_datetime)

jul_21['started_at'] = jul_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
jul_21['ended_at'] = jul_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

jul_21['started_at'] = jul_21['started_at'].apply(pd.to_datetime)
jul_21['ended_at'] = jul_21['ended_at'].apply(pd.to_datetime)

trip_duration_jul = []
for i in range(len(jul_21)):
    trip_duration_jul.append((int(jul_21.ended_at[i].hour) * 3600 + int(jul_21.ended_at[i].minute) * 
                              60 + int(jul_21.ended_at[i].second)) -
                             (int(jul_21.started_at[i].hour) * 3600 + int(jul_21.started_at[i].minute) *
                              60 + int(jul_21.started_at[i].second)))

jul_21['tripduration'] = trip_duration_jul

jul_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
0,C9446233AFAB8896,classic_bike,2021-07-15 19:27:25,2021-07-15 19:27:35,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member,July 2021,10
1,0C3D69370BE39992,electric_bike,2021-07-22 06:41:54,2021-07-22 06:42:03,Journal Square,JC103,Journal Square,JC103,40.733670,-74.062500,40.733670,-74.062500,member,July 2021,9
2,3B0390B706281176,classic_bike,2021-07-19 06:36:13,2021-07-19 06:38:18,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member,July 2021,125
3,9AFBC07247ABE507,classic_bike,2021-07-08 06:33:45,2021-07-08 06:35:53,Brunswick & 6th,JC081,Jersey & 6th St,JC027,40.726012,-74.050389,40.725289,-74.045572,member,July 2021,128
4,ADB073F7FFC372D3,classic_bike,2021-07-21 07:33:49,2021-07-21 08:00:14,14 St Ferry - 14 St & Shipyard Ln,HB202,Columbus Dr at Exchange Pl,JC106,40.752961,-74.024353,40.716870,-74.032810,casual,July 2021,1585

In [263]:
start_station = []
end_station   = []

for i in range(jul_21.shape[0]):
    end_station.append(jul_21.start_station_id[i][2:])
    start_station.append(jul_21.start_station_id[i][2:])

jul_21.end_station_id   = end_station
jul_21.start_station_id = start_station

jul_21.end_station_id   = jul_21.end_station_id.astype(int)
jul_21.start_station_id   = jul_21.start_station_id.astype(int)

jul_21.drop(columns=['ride_id'], axis=1, inplace=True)

jul_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82578 entries, 0 to 82577
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rideable_type       82578 non-null  object
 1   started_at          82578 non-null  datetime64[ns]
 2   ended_at            82578 non-null  datetime64[ns]
 3   start_station_name  82578 non-null  object
 4   start_station_id    82578 non-null  int32
 5   end_station_name    82000 non-null  object
 6   end_station_id      82578 non-null  int32
 7   start_lat           82578 non-null  float64
 8   start_lng           82578 non-null  float64
 9   end_lat             82207 non-null  float64
 10  end_lng             82207 non-null  float64
 11  member_casual       82578 non-null  object
 12  Month               82578 non-null  object
 13  tripduration        82578 non-null  int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(1), object(5)
memory usage: 8.2+ MB

In [264]:
jul_21.sample(5)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
11482,classic_bike,2021-07-07 08:12:13,2021-07-07 08:21:06,Liberty Light Rail,52,Grove St PATH,52,40.711242,-74.055701,40.719586,-74.043117,member,July 2021,533
55088,classic_bike,2021-07-17 13:17:09,2021-07-17 13:51:36,City Hall,3,Madison St & 1 St,3,40.717732,-74.043845,40.738790,-74.039300,casual,July 2021,2067
35348,classic_bike,2021-07-21 08:32:15,2021-07-21 08:37:25,Lafayette Park,78,JC Medical Center,78,40.713464,-74.062859,40.716540,-74.049638,member,July 2021,310
16353,classic_bike,2021-07-04 17:52:30,2021-07-04 18:25:07,Harborside,104,South Waterfront Walkway - Sinatra Dr & 1 St,104,40.719252,-74.034234,40.736982,-74.027781,casual,July 2021,1957
46650,classic_bike,2021-07-14 21:33:21,2021-07-14 21:41:58,Grand St & 14 St,506,Grand St & 2 St,506,40.754090,-74.031600,40.739130,-74.036180,member,July 2021,517

### August 2021

In [269]:
aug_21 = pd.read_csv('data/2021/JC-202108-citibike-tripdata.csv')
month = cycle(['August 2021'])
aug_21['Month'] = [next(month) for m in range(len(aug_21))]

aug_21['started_at'] = aug_21['started_at'].apply(pd.to_datetime)
aug_21['ended_at'] = aug_21['ended_at'].apply(pd.to_datetime)

aug_21['started_at'] = aug_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
aug_21['ended_at'] = aug_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

aug_21['started_at'] = aug_21['started_at'].apply(pd.to_datetime)
aug_21['ended_at'] = aug_21['ended_at'].apply(pd.to_datetime)

trip_duration_aug = []
for i in range(len(aug_21)):
    trip_duration_aug.append((int(aug_21.ended_at[i].hour) * 3600 + int(aug_21.ended_at[i].minute) * 
                              60 + int(aug_21.ended_at[i].second)) -
                             (int(aug_21.started_at[i].hour) * 3600 + int(aug_21.started_at[i].minute) *
                              60 + int(aug_21.started_at[i].second)))

aug_21['tripduration'] = trip_duration_aug

aug_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
0,A113F664678F00EC,classic_bike,2021-08-31 08:42:09,2021-08-31 08:50:01,Mama Johnson Field - 4 St & Jackson St,HB404,Willow Ave & 12 St,HB505,40.743140,-74.040041,40.751867,-74.030377,casual,August 2021,472
1,181C24F4DAD629B4,classic_bike,2021-08-14 18:16:31,2021-08-14 18:46:40,Communipaw & Berry Lane,JC084,Communipaw & Berry Lane,JC084,40.714358,-74.066611,40.714358,-74.066611,casual,August 2021,1809
2,89F02E7FE759B7C6,electric_bike,2021-08-22 04:19:40,2021-08-22 04:41:52,Astor Place,JC077,City Hall,JC003,40.719282,-74.071262,40.717732,-74.043845,casual,August 2021,1332
3,664FA523777D686C,classic_bike,2021-08-19 08:05:53,2021-08-19 08:11:44,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member,August 2021,351
4,4B1FE4E68C7E9721,classic_bike,2021-08-11 14:54:27,2021-08-11 15:16:43,14 St Ferry - 14 St & Shipyard Ln,HB202,Harborside,JC104,40.752961,-74.024353,40.719252,-74.034234,casual,August 2021,1336

In [270]:
start_station = []
end_station   = []

for i in range(aug_21.shape[0]):
    end_station.append(aug_21.start_station_id[i][2:])
    start_station.append(aug_21.start_station_id[i][2:])

aug_21.end_station_id   = end_station
aug_21.start_station_id = start_station

aug_21.end_station_id   = aug_21.end_station_id.astype(int)
aug_21.start_station_id   = aug_21.start_station_id.astype(int)

aug_21.drop(columns=['ride_id'], axis=1, inplace=True)

aug_21.info()

ValueError: invalid literal for int() with base 10: 'SYS'

In [ ]:
aug_21.sample(5)

### September 2021

In [130]:
sep_21 = pd.read_csv('data/2021/JC-202109-citibike-tripdata.csv')
month = cycle(['September 2021'])
sep_21['Month'] = [next(month) for m in range(len(sep_21))]

sep_21['started_at'] = sep_21['started_at'].apply(pd.to_datetime)
sep_21['ended_at'] = sep_21['ended_at'].apply(pd.to_datetime)

sep_21['started_at'] = sep_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
sep_21['ended_at'] = sep_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

sep_21['started_at'] = sep_21['started_at'].apply(pd.to_datetime)
sep_21['ended_at'] = sep_21['ended_at'].apply(pd.to_datetime)

trip_duration_sep = []
for i in range(len(sep_21)):
    trip_duration_sep.append((int(sep_21.ended_at[i].hour) * 3600 + int(sep_21.ended_at[i].minute) * 
                              60 + int(sep_21.ended_at[i].second)) -
                             (int(sep_21.started_at[i].hour) * 3600 + int(sep_21.started_at[i].minute) *
                              60 + int(sep_21.started_at[i].second)))

sep_21['tripduration'] = trip_duration_sep

sep_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
0,A208448496A3237F,classic_bike,2021-09-17 17:50:12,2021-09-17 17:59:27,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member,September 2021,555
1,06315D097242DEA5,classic_bike,2021-09-10 11:29:48,2021-09-10 11:33:22,Columbus Drive,JC014,Essex Light Rail,JC038,40.718355,-74.038914,40.712774,-74.036486,member,September 2021,214
2,1C80F1363098B23B,classic_bike,2021-09-06 09:00:33,2021-09-06 09:12:20,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Hamilton Park,JC009,40.736982,-74.027781,40.727596,-74.044247,member,September 2021,707
3,C552C8AEA7B6F5E5,classic_bike,2021-09-15 18:44:12,2021-09-15 18:46:21,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.736982,-74.027781,40.735938,-74.030305,member,September 2021,129
4,E901EE7D9ECCAAA5,classic_bike,2021-09-09 16:51:27,2021-09-09 17:01:59,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member,September 2021,632

In [266]:
start_station = []
end_station   = []

for i in range(sep_21.shape[0]):
    end_station.append(sep_21.start_station_id[i][2:])
    start_station.append(sep_21.start_station_id[i][2:])

sep_21.end_station_id   = end_station
sep_21.start_station_id = start_station

sep_21.end_station_id   = sep_21.end_station_id.astype(int)
sep_21.start_station_id   = sep_21.start_station_id.astype(int)

sep_21.drop(columns=['ride_id'], axis=1, inplace=True)

sep_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97313 entries, 0 to 97312
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rideable_type       97313 non-null  object
 1   started_at          97313 non-null  datetime64[ns]
 2   ended_at            97313 non-null  datetime64[ns]
 3   start_station_name  97313 non-null  object
 4   start_station_id    97313 non-null  int32
 5   end_station_name    96697 non-null  object
 6   end_station_id      97313 non-null  int32
 7   start_lat           97313 non-null  float64
 8   start_lng           97313 non-null  float64
 9   end_lat             96893 non-null  float64
 10  end_lng             96893 non-null  float64
 11  member_casual       97313 non-null  object
 12  Month               97313 non-null  object
 13  tripduration        97313 non-null  int64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(1), object(5)
memory usage: 9.7+ MB

In [267]:
sep_21.sample(5)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
52363,classic_bike,2021-09-05 01:10:36,2021-09-05 01:19:12,4 St & Grand St,301,Grand St & 14 St,301,40.742258,-74.035111,40.754090,-74.031600,casual,September 2021,516
30430,classic_bike,2021-09-26 10:58:17,2021-09-26 11:41:28,Grove St PATH,5,Grand St & 14 St,5,40.719586,-74.043117,40.754090,-74.031600,casual,September 2021,2591
60209,classic_bike,2021-09-13 08:51:31,2021-09-13 09:00:19,Harborside,104,Hamilton Park,104,40.719252,-74.034234,40.727596,-74.044247,casual,September 2021,528
27761,classic_bike,2021-09-26 10:31:47,2021-09-26 10:40:08,Columbus Drive,14,Hamilton Park,14,40.718355,-74.038914,40.727596,-74.044247,member,September 2021,501
59637,classic_bike,2021-09-11 17:40:10,2021-09-11 17:51:51,South Waterfront Walkway - Sinatra Dr & 1 St,103,11 St & Washington St,103,40.736982,-74.027781,40.749985,-74.027150,casual,September 2021,701

### October 2021

In [ ]:
oct_21 = pd.read_csv('data/2021/JC-202110-citibike-tripdata.csv')
month = cycle(['octy 2021'])
oct_21['Month'] = [next(month) for m in range(len(oct_21))]

oct_21['started_at'] = oct_21['started_at'].apply(pd.to_datetime)
oct_21['ended_at'] = oct_21['ended_at'].apply(pd.to_datetime)

oct_21['started_at'] = oct_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
oct_21['ended_at'] = oct_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

oct_21['started_at'] = oct_21['started_at'].apply(pd.to_datetime)
oct_21['ended_at'] = oct_21['ended_at'].apply(pd.to_datetime)

trip_duration_oct = []
for i in range(len(oct_21)):
    trip_duration_oct.append((int(oct_21.ended_at[i].hour) * 3600 + int(oct_21.ended_at[i].minute) * 
                              60 + int(oct_21.ended_at[i].second)) -
                             (int(oct_21.started_at[i].hour) * 3600 + int(oct_21.started_at[i].minute) *
                              60 + int(oct_21.started_at[i].second)))

oct_21['tripduration'] = trip_duration_oct

oct_21.head()

In [ ]:
start_station = []
end_station   = []

for i in range(oct_21.shape[0]):
    end_station.append(oct_21.start_station_id[i][2:])
    start_station.append(oct_21.start_station_id[i][2:])

oct_21.end_station_id   = end_station
oct_21.start_station_id = start_station

oct_21.end_station_id   = oct_21.end_station_id.astype(int)
oct_21.start_station_id   = oct_21.start_station_id.astype(int)

oct_21.drop(columns=['ride_id'], axis=1, inplace=True)

oct_21.info()

In [ ]:
oct_21.sample(5)

### November 2021

In [ ]:
nov_21 = pd.read_csv('data/2021/JC-202111-citibike-tripdata.csv')
month = cycle(['November 2021'])
nov_21['Month'] = [next(month) for m in range(len(nov_21))]

nov_21['started_at'] = nov_21['started_at'].apply(pd.to_datetime)
nov_21['ended_at'] = nov_21['ended_at'].apply(pd.to_datetime)

nov_21['started_at'] = nov_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
nov_21['ended_at'] = nov_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

nov_21['started_at'] = nov_21['started_at'].apply(pd.to_datetime)
nov_21['ended_at'] = nov_21['ended_at'].apply(pd.to_datetime)

trip_duration_nov = []
for i in range(len(nov_21)):
    trip_duration_nov.append((int(nov_21.ended_at[i].hour) * 3600 + int(nov_21.ended_at[i].minute) * 
                              60 + int(nov_21.ended_at[i].second)) -
                             (int(nov_21.started_at[i].hour) * 3600 + int(nov_21.started_at[i].minute) *
                              60 + int(nov_21.started_at[i].second)))

nov_21['tripduration'] = trip_duration_nov

nov_21.head()

In [ ]:
start_station = []
end_station   = []

for i in range(nov_21.shape[0]):
    end_station.append(nov_21.start_station_id[i][2:])
    start_station.append(nov_21.start_station_id[i][2:])

nov_21.end_station_id   = end_station
nov_21.start_station_id = start_station

nov_21.end_station_id   = nov_21.end_station_id.astype(int)
nov_21.start_station_id   = nov_21.start_station_id.astype(int)

nov_21.drop(columns=['ride_id'], axis=1, inplace=True)

nov_21.info()

In [ ]:
nov_21.sample(5)

### December 2021

In [136]:
dec_21 = pd.read_csv('data/2021/JC-202112-citibike-tripdata.csv')
month = cycle(['December 2021'])
dec_21['Month'] = [next(month) for m in range(len(dec_21))]

dec_21['started_at'] = dec_21['started_at'].apply(pd.to_datetime)
dec_21['ended_at'] = dec_21['ended_at'].apply(pd.to_datetime)

dec_21['started_at'] = dec_21['started_at'].dt.strftime('%m-%d-%Y %H:%M:%S')
dec_21['ended_at'] = dec_21['ended_at'].dt.strftime('%m-%d-%Y %H:%M:%S')

dec_21['started_at'] = dec_21['started_at'].apply(pd.to_datetime)
dec_21['ended_at'] = dec_21['ended_at'].apply(pd.to_datetime)

trip_duration_dec = []
for i in range(len(dec_21)):
    trip_duration_dec.append((int(dec_21.ended_at[i].hour) * 3600 + int(dec_21.ended_at[i].minute) * 
                              60 + int(dec_21.ended_at[i].second)) -
                             (int(dec_21.started_at[i].hour) * 3600 + int(dec_21.started_at[i].minute) *
                              60 + int(dec_21.started_at[i].second)))

dec_21['tripduration'] = trip_duration_dec

dec_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
0,87F1811D08BA7BF3,classic_bike,2021-12-12 09:16:59,2021-12-12 09:23:08,Hamilton Park,JC009,Grove St PATH,JC005,40.727596,-74.044247,40.719586,-74.043117,member,December 2021,369
1,48390A4B390ABD36,electric_bike,2021-12-07 20:06:14,2021-12-07 20:14:14,Hamilton Park,JC009,Hilltop,JC019,40.727596,-74.044247,40.731169,-74.057574,casual,December 2021,480
2,93AE14B47CBB30F8,classic_bike,2021-12-31 16:07:10,2021-12-31 16:14:39,Brunswick St,JC023,Brunswick St,JC023,40.724176,-74.050656,40.724176,-74.050656,casual,December 2021,449
3,5D0BDBFB30D7C9F6,electric_bike,2021-12-11 03:25:41,2021-12-11 03:31:16,Brunswick St,JC023,Baldwin at Montgomery,JC020,40.724176,-74.050656,40.723659,-74.064194,member,December 2021,335
4,D6382ADAF1672DD8,classic_bike,2021-12-17 10:59:28,2021-12-17 11:12:41,Brunswick St,JC023,Paulus Hook,JC002,40.724176,-74.050656,40.714145,-74.033552,casual,December 2021,793

In [137]:
start_station = []
end_station   = []

for i in range(dec_21.shape[0]):
    end_station.append(dec_21.start_station_id[i][2:])
    start_station.append(dec_21.start_station_id[i][2:])

dec_21.end_station_id   = end_station
dec_21.start_station_id = start_station

dec_21.end_station_id   = dec_21.end_station_id.astype(int)
dec_21.start_station_id   = dec_21.start_station_id.astype(int)

dec_21.drop(columns=['ride_id'], axis=1, inplace=True)

dec_21.info()

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,tripduration
0,classic_bike,2021-12-12 09:16:59,2021-12-12 09:23:08,Hamilton Park,JC009,Grove St PATH,JC005,40.727596,-74.044247,40.719586,-74.043117,member,December 2021,369
1,electric_bike,2021-12-07 20:06:14,2021-12-07 20:14:14,Hamilton Park,JC009,Hilltop,JC019,40.727596,-74.044247,40.731169,-74.057574,casual,December 2021,480
2,classic_bike,2021-12-31 16:07:10,2021-12-31 16:14:39,Brunswick St,JC023,Brunswick St,JC023,40.724176,-74.050656,40.724176,-74.050656,casual,December 2021,449
3,electric_bike,2021-12-11 03:25:41,2021-12-11 03:31:16,Brunswick St,JC023,Baldwin at Montgomery,JC020,40.724176,-74.050656,40.723659,-74.064194,member,December 2021,335
4,classic_bike,2021-12-17 10:59:28,2021-12-17 11:12:41,Brunswick St,JC023,Paulus Hook,JC002,40.724176,-74.050656,40.714145,-74.033552,casual,December 2021,793

### Merging July and August 2021 --> `jul_aug_21`

In [ ]:
# jul_aug_21 = pd.concat([jul_21, aug_21], ignore_index=True)

# jul_aug_21.sample(5)

### Merging September and October 2021 --> `sep_oct_21`

In [271]:
# sep_oct_21 = pd.concat([sep_21, oct_21], ignore_index=True)

# sep_oct_21.sample(5)

### Merging November and December 2021 --> `nov_dec_21`

In [272]:
# nov_dec_21 = pd.concat([nov_21, dec_21], ignore_index=True)

# nov_dec_21.sample(5)

### Merging all.

In [273]:
# merged_21 = pd.concat([jul_aug_21, sep_oct_21, nov_dec_21], ignore_index=True)

# merged_21.sample(10)

In [261]:
# start_station = []
# end_station   = []

# for i in range(nov_21.shape[0]):
#     end_station.append(nov_21.start_station_id[i][2:])
#     start_station.append(nov_21.start_station_id[i][2:])

# nov_21.end_station_id   = end_station
# nov_21.start_station_id = start_station

# nov_21.end_station_id   = nov_21.end_station_id.astype(int)
# nov_21.start_station_id   = nov_21.start_station_id.astype(int)

### Export to CSV

In [143]:
merged_21 = pd.concat([jul_21, aug_21, sep_21, oct_21, nov_21, dec_21], ignore_index=False)
merged_21.to_csv('result_data/merged_21_new.csv', index=False)

In [144]:
# merged_21.to_csv('result_data/merged_21_new.csv', index=False)

In [145]:
merged_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 470556 entries, 0 to 48020
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   rideable_type       470556 non-null  object
 1   started_at          470556 non-null  datetime64[ns]
 2   ended_at            470556 non-null  datetime64[ns]
 3   start_station_name  470556 non-null  object
 4   start_station_id    470556 non-null  object
 5   end_station_name    467616 non-null  object
 6   end_station_id      467616 non-null  object
 7   start_lat           470556 non-null  float64
 8   start_lng           470556 non-null  float64
 9   end_lat             468831 non-null  float64
 10  end_lng             468831 non-null  float64
 11  member_casual       470556 non-null  object
 12  Month               470556 non-null  object
 13  tripduration        470556 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(1), object(7)
memory usage: 53.9+ MB